.apropos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .apropos_text {
    
    background-color: #ff5928;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2{
    color:white;
  }
  p{
    text-align: center;
  }
  button {
    color: white;
    margin-bottom: 6px;
    border: none;
    background-color: black;
    padding: 2%;
  }
 }
