footer{
    font: size 10%;
    
    display: flex;
    flex-wrap: wrap;
    
    color: white;
    background-color: black;
    svg{ 
        margin: 4%;
        height: 12%;
        width: 12%;
        background-color: white;
       
    }
    
        
    
    
}